container_commands:
  01_make_tmp_dirs:
    command: "mkdir -p /tmp/django_sessions && chmod 777 /tmp/django_sessions && chmod 777 /tmp"
    
  02_migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true
    
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
    
  04_create_superuser:
    command: "django-admin.py shell -c \"from django.contrib.auth.models import User; User.objects.filter(username='admin').exists() or User.objects.create_superuser('admin', 'admin@example.com', 'adminpass123!')\""
    leader_only: true
    ignoreErrors: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mysite.settings
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite.wsgi:application
